<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>

    <button onclick="logoutUser()" >Log Out</button>
    


  <script>


const logoutUser = async ()=>{

  const response = await fetch("/logout",{
    method:"POST",
    headers:{
      "Content-Type":"application/json"
    }
  })



location.href="/login"

}


    </script>
</body>
</html>
